@font-face {
    font-family: "Price";
    src: url(/Assest/Fonts/pricedown\ bl.otf);
}

@font-face {
    font-family: "Cake";
    src: url(/Assest/Fonts/Cream\ Cake.otf);
}

/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.sectionContainer {
    position: relative;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

/* SECTION'S TITLE H2 STYLE AND SHADOW */
.mirrorContainer {
    display: inline-flex;
}

.mirroredTitle {
    padding: 0.5em;
    font-size: calc(30px + 1.5vw);
    text-transform: uppercase;
    color: #000;
}

.mirroredTitle::after {
    display: flex;
    transform: rotateX(180deg);
    color: transparent;
    text-shadow: 1px 20px 5px rgba(255, 68, 0, 0.4);
}

#mirroredPresentation::after {
    content: "presentation";
}

#mirroredWork::after {
    content: "my work";
}

#mirroredContact::after {
    content: "Contact";
}

#mirroredCv::after {
    content: "download my Cv";
}

/* NAVBAR STYLE */
#navBar {
    position: sticky;
    top: 0px;
    height: 15vh;
    transition: 0.4s;
    z-index: 60;
    overflow: hidden;
}

/* BRAND NAME STYLE MODIF */
#brandContainer {
    width: 20%;
    height: 100%;
    font-family: "Cake";
    background-color: whitesmoke;
}

#brandName {
    font-size: 5vw;
    color: black;
    transition: 0.4s;
}

/* RIGHT PART OF THE NAVBAR */
#linksContainer {
    position: relative;
    width: 80%;
    height: 100%;
    background-color: rgb(24, 24, 24);
}

.navLink {
    width: 25%;
    height: 100%;
    font-size: calc(15px + 1vw);
    font-weight: 600;
    text-transform: uppercase;
    color: whitesmoke;
}


.navLinkImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.textLink {
    position: absolute;
    z-index: 70;
}

.navHoverEffect {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 68, 0, 0.4);
    transition: 0.5s ease-out;
}

.navLink:hover .navHoverEffect {
    width: 25%;
}

.active {
    background-color: #666;
    color: white;
}

/* HOME SECTION  */
#homeSection {
    position: relative;
    transition: 0.4s;
}

/* BACKGROUND CREATION AND ANIMATION */
.homeBackground {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}

.logoContainer {
    position: absolute;
    height: 50%;
    overflow: hidden;
}

#logoHtml {
    animation: animHtml 60s infinite ease;
}

/* ANIMATION'S KEYFRAME LOGO BACKGROUND */

@keyframes animHtml {
    0% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    15% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    20% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    30% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    90% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }
}

#logoCss {
    animation: animCss 60s infinite ease-in;
}

@keyframes animCss {
    0% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    15% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    45% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    50% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    60% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    100% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }
}

#logoJs {
    animation: animJs 60s infinite ease-out;
}

@keyframes animJs {
    0% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    5% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    15% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    60% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    100% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }
}

#logoPhp {
    animation: animPhp 60s infinite linear;
}

@keyframes animPhp {
    0% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    30% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    75% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    80% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    90% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }
}

#logoMySql {
    animation: animMySql 60s infinite ease;
}

@keyframes animMySql {
    0% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    5% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    45% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    100% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }
}

#logoBootstrap {
    animation: animBootstrap 60s infinite ease-in-out;
}

@keyframes animBootstrap {
    0% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    45% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    50% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    60% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    65% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    75% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }
}

#logoWordPress {
    animation: animWordPress 60s infinite ease-in;
}

@keyframes animWordPress {
    0% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    30% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    75% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    80% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    90% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }
}

.homeBackgroundImg {
    opacity: 1%;
    width: 25vw;
}

/* HOME FRONT SECTION STYLE */
#homeFrontContainer {
    width: 90%;
    height: 90vh;
    z-index: 50;
}

.homeFrontText {
    width: 50%;
}

#homeImgContainer {
    width: 50%;
}

#homeFrontImg {
    width: 100%;
}

#lineOne {
    font-size: calc(15px + 2.5vw);
    color: whitesmoke;
}

#lineTwo {
    font-size: calc(15px + 5vw);
    color: whitesmoke;
}

#lineThree {
    font-size: calc(15px + 3.5vw);
    color: orangered;
}

#scrollImg {
    position: relative;
    top: -10px;
    animation: scrollAnim 5s infinite ease-in-out;
}

@keyframes scrollAnim {
    0% {
        top: -10px;
    }

    10% {
        top: 10px;
    }

    20% {
        top: -10px;
    }

    30% {
        top: 10px;
    }

    40% {
        top: -10px;
    }

    100% {
        top: -10px;
    }
}

/* PRESENTATION SECTION */

#presentationSection {
    background-color: whitesmoke;
    height: 100vh;
}

/* Slideshow container */
.slideshowContainer {
    position: relative;
    width: 60%;
    height: 50%;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.slideTitle {
    position: absolute;
    color: black;
    width: 100%;
    text-align: center;
}

.SlideContainer {
    position: relative;
}

.frontSlideContainer, .backSlideContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.frontSlide, .backSlide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frontSlide {
    animation: frontSlideAnim 15s infinite;
}

@keyframes frontSlideAnim {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.backSlide {
    animation: backSlideAnim 15s infinite;
}

@keyframes backSlideAnim {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.slideText {
    position: absolute;
    font-size: 1.5vw;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* WORK SECTION */

#workSection {
    background-color: rgba(0, 0, 0, 0.1);
}

.flipCardsContainer {
    flex-wrap: wrap;
    width: 90%;
    gap: 1em;
}

.flipCard {
    background-color: transparent;
    width: 25%;
    min-width: 15em;
    height: 30vh;
    perspective: 1000px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flipCardFront {
    width: 100%;
}

.flipCardBack {
    transform: rotateY(180deg);
}

.workLinkImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTACT SECTION */
#contactSection {
    background-color: whitesmoke;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1em;
    padding: 1em;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}

.contactLink{
    display: flex;
    gap: 1em;
}
.contactLink img{
    width: calc(30px + 1vw);
    /* height: 35px; */
}
.contactText{
    font-size: calc(15px + 1.5vw);
}