/* ANIMATION'S KEYFRAME LOGO BACKGROUND */



@keyframes animHtml {
    0% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    15% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    20% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    30% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    90% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }
}



@keyframes animCss {
    0% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    15% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    45% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    50% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    60% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    100% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }
}



@keyframes animJs {
    0% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    5% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    15% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    60% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    100% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }
}



@keyframes animPhp {
    0% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    30% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    75% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    80% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    90% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }
}



@keyframes animMySql {
    0% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    5% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    45% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    100% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }
}



@keyframes animBootstrap {
    0% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    45% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    50% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    60% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    65% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    75% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }
}



@keyframes animWordPress {
    0% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    30% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    75% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    80% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    90% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }
}