@font-face {
    font-family: "Mermaid";
    src: url(/Assest/Fonts/Mermaid1001.ttf);
}

@font-face {
    font-family: "Cake";
    src: url(/Assest/Fonts/Cream\ Cake.otf);
}

/* GENERAL STYLE */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

/* SECTION'S TITLE H2 STYLE AND SHADOW */
.mirrorContainer {
    display: inline-flex;
}

.mirroredTitle {
    padding: 0.5em;
    font-family: "Mermaid";
    font-size: calc(18px + 1.5vw);
    text-transform: uppercase;
    color: #000;
}

.mirroredTitle::after {
    display: flex;
    transform: rotateX(180deg);
    color: transparent;
    text-shadow: 0px 30px 10px rgba(255, 68, 0, 0.2);
}

#mirroredPresentation::after {
    content: "présentation";
}

#mirroredWork::after {
    content: "réalisation";
}

#mirroredContact::after {
    content: "Contact";
}

/* ADD ANCHOR AND SPACE FOR NAVBAR ON TOP OF EACH SECTION */
#presentationSectionAnchor {
    height: 25vh;
    background-color: whitesmoke;
}

#workSectionAnchor {
    height: 25vh;
    background: linear-gradient(whitesmoke, rgba(0, 0, 0, 0.1));
}

#contactSectionAnchor {
    height: 25vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), whitesmoke);
}

#mainContainer {
    display: block;
    width: auto;
}

/* NAVBAR */
#navBar {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1.5px solid black;
    z-index: 99;
}

/* BRAND NAME AND BURGER ICON */
#brandContainer {
    width: 100%;
    font-family: "Cake";
    background-color: whitesmoke;
}

#brandName {
    font-size: calc(30px + 2vw);
    color: black;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: rgba(255, 68, 0, 0.6);
    box-shadow: 0 0 5px 0 rgba(255, 68, 0, 0.6);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: rgba(255, 68, 0, 0.6);
    box-shadow: 0 0 5px 0 rgba(255, 68, 0, 0.6);
}

/* LINKS OF THE NAVBAR */
.navBarBurger {
    display: none;
}

.navBarBurger.responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
}

.navLink {
    width: 100%;
    height: 35px;
}

.textLink {
    font-family: "Mermaid";
    font-size: calc(20px + 0.5vw);
    font-weight: 500;
    text-transform: uppercase;
    color: whitesmoke;
    position: absolute;
    z-index: 70;
}

.navLinkImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}


.navHoverEffect {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 68, 0, 0.4);
    transition: 0.5s ease-out;
}

.navLink:hover .navHoverEffect {
    width: 25%;
}

.active {
    background-color: #666;
    color: white;
}

/* HOME SECTION  */
#homeSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
}

/* FRONT */
#homeFrontContainer {
    width: 100%;
    height: 100%;
    padding: 1em 0;
    z-index: 50;
}

.homeFrontText {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1em;
}

#homeImgContainer {
    display: none;
    width: 50%;
}

#homeFrontImg {
    width: 100%;
}

#lineOne {
    font-size: calc(15px + 2.5vw);
    color: whitesmoke;
}

#lineTwo {
    font-size: calc(25px + 5vw);
    color: whitesmoke;
}

#lineThree {
    font-size: calc(20px + 3.5vw);
    color: orangered;
}

#scrollIconContainer {
    /* display: flex; */
    width: 40%;
}

#fingerScroll {
    position: relative;
    top: -10px;
    padding-top: 1.5em;
    animation: scrollAnim 5s infinite ease-in-out;
}

#mouseScroll {
    display: none;
    position: relative;
    top: -10px;
    padding-top: 1.5em;
    animation: scrollAnim 5s infinite ease-in-out;
}

@keyframes scrollAnim {
    0% {
        top: -10px;
    }

    10% {
        top: 10px;
    }

    20% {
        top: -10px;
    }

    30% {
        top: 10px;
    }

    40% {
        top: -10px;
    }

    100% {
        top: -10px;
    }
}

/* BACKGROUND CREATION AND ANIMATION */
.homeBackground {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}

.logoContainer {
    position: absolute;
    height: 50%;
    overflow: hidden;
}

/* ANIMATION'S KEYFRAME LOGO BACKGROUND */

#logoHtml {
    animation: animHtml 60s infinite ease;
}

#logoCss {
    animation: animCss 60s infinite ease-in;
}

#logoJs {
    animation: animJs 60s infinite ease-out;
}

#logoPhp {
    animation: animPhp 60s infinite linear;
}

#logoMySql {
    animation: animMySql 60s infinite ease;
}

#logoBootstrap {
    animation: animBootstrap 60s infinite ease-in-out;
}

#logoWordPress {
    animation: animWordPress 60s infinite ease-in;
}

.homeBackgroundImg {
    opacity: 5%;
    width: 25vw;
}

/* PRESENTATION SECTION */

#presentationSection {
    position: relative;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
}

.slideshowContainer {
    position: relative;
    width: 95%;
    min-height: 50vh;
}

.mySlides {
    display: none;
    width: 100%;
    min-height: 100%;
}

.slideTitle {
    position: absolute;
    font-size: calc(15px + 0.8vw);
    font-style: italic;
    color: black;
    width: 100%;
    text-align: center;
}

.SlideContainer {
    position: relative;
}

.frontSlideContainer, .backSlideContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.frontSlide, .backSlide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frontSlide {
    animation: frontSlideAnim 15s infinite;
}

@keyframes frontSlideAnim {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.backSlide {
    animation: backSlideAnim 15s infinite;
}

@keyframes backSlideAnim {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.slideText {
    position: absolute;
    font-size: calc(15px + 0.5vw);
    width: 100%;
    bottom: 0;
    text-align: center;
    color: black;
    background-color: rgba(245, 245, 245, 0.7);
}

.slideText p{
    width: 95%;
}

/* COMMANDS SLIDESHOW */
#slideShowCommands {
    text-align: center;
    padding: 1em;
}

.prev, .next {
    cursor: pointer;
    margin-top: -22px;
    padding: 16px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* WORK SECTION */

#workSection {
    position: relative;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.flipCardsContainer {
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    gap: 1em;
}

.flipCard {
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 250px;
    perspective: 1000px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.workLinkImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flipCardBack {
    text-align: center;
    background-color: whitesmoke;
    transform: rotateY(180deg);
}

.flipCardBack p {
    font-size: 14px;
    margin: 0.5em;
}


/* CONTACT SECTION */

#contactSection {
    min-height: 92vh;
    background-color: whitesmoke;
    position: relative;
    flex-direction: column;
    width: 100%;
}

#formContainer {
    width: 90%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 1em;
    width: 90%;
}

#formTitle {
    font-size: calc(15px + 1.5vw);
    padding-bottom: 1em;
}

.formItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25em;
}

.formItem:hover {
    font-weight: bold;
    color: orangered;
}

.formLabel {
    font-size: calc(15px + .5vw);
}

.formInput {
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.formItem:hover .formInput {
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.formBtn {
    cursor: pointer;
    padding: 0.7em;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    font-size: 1.1em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.formBtn:hover {
    background-color: rgba(255, 68, 0, 0.3);
}

/* FOOTER */

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 10vh;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.1);
}

.footerLink {
    display: flex;
    padding: .5em;
    gap: 1em;
}

.footerLink img {
    width: calc(12px + 1.1vw);
    height: calc(12px + 1.1vw);
}

.footerText {
    color: black;
    font-size: calc(15px + .5vw);
}

/* @media only screen and (max-width: 1000px) {
    #brandContainer{
        width: 100%;
    }
    .burger{
        flex-direction: column;
    }
    #linksContainer {
        display: none;
    }

    .navBarIconBurger {
        display: block;
    }

    .homeFrontText {
        width: 100%;
    }

    #homeImgContainer {
        display: none;
    }

    #formContainer {
        width: 100%;
    }

    .form {
        width: 90%;
    }

    .footerContainer {
        flex-direction: column;
    }
} */