/* <!-- ANIMATED LOGO BACKGROUND -->
<!-- <div class="homeBackground">
    <div id="logoHtml" class="logoContainer">
        <img class="homeBackgroundImg" src="../Assest/LogoImg/LogoHtmlPic.webp" alt="Logo HTML">
    </div>
    <div id="logoCss" class="logoContainer">
        <img class="homeBackgroundImg" src="../Assest/LogoImg/LogoCssPic.png" alt="Logo CSS">
    </div>
    <div id="logoJs" class="logoContainer">
        <img class="homeBackgroundImg" src="../Assest/LogoImg/LogoJsPic.webp" alt="Logo Javascript">
    </div>
    <div id="logoPhp" class="logoContainer">
        <img class="homeBackgroundImg" src="../Assest/LogoImg/LogoPhpPic.png" alt="Logo PHP">
    </div>
    <div id="logoMySql" class="logoContainer">
        <img class="homeBackgroundImg" src="../Assest/LogoImg/LogoMySqlPic.webp" alt="Logo My SQL">
    </div>
    <div id="logoBootstrap" class="logoContainer">
        <img class="homeBackgroundImg" src="../Assest/LogoImg/LogoBootstrapPic.png" alt="Logo Bootstrap">
    </div>
    <div id="logoWordPress" class="logoContainer">
        <img class="homeBackgroundImg" src="../Assest/LogoImg/LogoWordPressPic.png" alt="Logo Wordpress">
    </div>
</div> --> */

/* BACKGROUND CREATION AND ANIMATION */
.homeBackground {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.logoContainer {
    position: absolute;
    height: 50%;
    overflow: hidden;
}

/* ANIMATION'S KEYFRAME LOGO BACKGROUND */

#logoHtml {
    animation: animHtml 60s infinite ease;
}

#logoCss {
    animation: animCss 60s infinite ease-in;
}

#logoJs {
    animation: animJs 60s infinite ease-out;
}

#logoPhp {
    animation: animPhp 60s infinite linear;
}

#logoMySql {
    animation: animMySql 60s infinite ease;
}

#logoBootstrap {
    animation: animBootstrap 60s infinite ease-in-out;
}

#logoWordPress {
    animation: animWordPress 60s infinite ease-in;
}

.homeBackgroundImg {
    opacity: 5%;
    width: 25vw;
}

/* ANIMATION'S KEYFRAME LOGO BACKGROUND */



@keyframes animHtml {
    0% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    15% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    20% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    30% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    90% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }
}



@keyframes animCss {
    0% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    15% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    45% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    50% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    60% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    100% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }
}



@keyframes animJs {
    0% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    5% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    15% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    60% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    100% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }
}



@keyframes animPhp {
    0% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    30% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    75% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    80% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    90% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }
}



@keyframes animMySql {
    0% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    5% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    45% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    75% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    100% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }
}



@keyframes animBootstrap {
    0% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    30% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    35% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    45% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    50% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    60% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    65% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    75% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    80% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    90% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }
}



@keyframes animWordPress {
    0% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    5% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 50%;
        width: 24.5%;
        transition: width 2s
    }

    20% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    30% {
        top: 50%;
        left: 66%;
        width: 33%;
        transition: width 2s
    }

    35% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    45% {
        top: 0%;
        left: 75%;
        width: 24.5%;
        transition: width 2s
    }

    50% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    60% {
        top: 0%;
        left: 0%;
        width: 24.5%;
        transition: width 2s
    }

    65% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    75% {
        top: 50%;
        left: 33%;
        width: 33%;
        transition: width 2s
    }

    80% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    90% {
        top: 50%;
        left: 0%;
        width: 33%;
        transition: width 2s
    }

    95% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }

    100% {
        top: 0%;
        left: 25%;
        width: 24.5%;
        transition: width 2s
    }
}